body {
    display: flex;
    flex-direction: row;
    width: 100vw;
}
.nav-bar {
    
    
}
nav {
    background-color: var(--main-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 250px;
    padding-top: 80px;
    padding-left: 40px;
}
nav > a {
   color: #fff;
   text-transform: uppercase;
   /*padding: 30px;*/
   
}
nav i {
   padding-right: 10px;
}
a {
   height: 45px;
   text-decoration: none;
   line-height: 45px;
   vertical-align: middle;
   border-radius: 25px 0 0 25px;
   padding-left: 10px;
}
a:hover {
   background-color: #DAF6E7;
   color: var(--main-color);

}
.active {
   color: var(--main-color);
   background-color: white;
}
.main-content {
    background-color: #fff;
    width: 1000px;
    font-size: 13px;
    
}
.virsus {
   padding: 15px 0 0 30px;
}
.virsus, .apacia {
   line-height: 45px;
   vertical-align: middle;
}
.apacia {
   padding: 0 0 0 30px;
}
.recom {
   float: right;
   padding: 0 10px 0 0;
}
 .dish1, .dish2, .dish3, .dish4, .dish5, .dish6, .dish7, .dish8, .dish9 {
    height: 60px;
    width: 60px;
 }
 .dish1 {
    background-color: var(--food-color1);
 }

 .dish2 {
    background-color: var(--food-color2);
 }
 .dish3 {
    background-color: var(--food-color3);
 }
 .dish4 {
    background-color: var(--food-color4);
 }
 .dish5 {
    background-color: var(--food-color5);
 }
 .dish6 {
    background-color: var(--food-color6);
 }
 .dish7 {
    background-color: var(--food-color7);
 }
 .dish8 {
    background-color: var(--food-color8);
 }
 .dish9 {
    background-color: var(--food-color9);
 }
 .order {
    background-color: var(--uzsakymo);
    width: 350px;
 }